<!--
/**
 *
 * @title Definition List partial for tags other than the example tag for default comment block
 *
 */
-->

<div class="sugar-tag-details">
  <dl>

    {{~#each this.tags as |tagObj| }}

      {{~#notEqual tagObj.tag 'example'}}

        {{~#notEqual tagObj.tag 'title'}}

          {{~#notEqual tagObj.tag 'description'}}
            <dt>
              {{ tagObj.tag }}:

              {{#if tagObj.valueParsed}}

                {{~#each tagObj.valueParsed as |parsed|}}
                  {{#isEqual parsed.type 'modifier'}}

                    <code>{{ parsed.value }}</code>

                  {{/isEqual}}
                  {{#isEqual parsed.type 'state'}}

                    <code>{{ parsed.value }}</code>

                  {{/isEqual}}
                {{~/each}}
              {{/if}}
            </dt>
            <dd>

              {{~#if tagObj.valueParsed}}

                {{~#each tagObj.valueParsed as |parsed|}}

                  {{~#isEqual parsed.type 'description'}}

                    <span class="sugar-tag-description">{{ parsed.value }}</span>

                  {{~/isEqual}}

                {{~/each}}

              {{~ else }}

                <span class="sugar-tag-description">{{ tagObj.value }}</span>

              {{~/if}}

            </dd>
          {{~/notEqual}}

        {{~/notEqual}}

      {{~/notEqual}}

    {{/each}}
  </dl>
</div>