<div>
  <h2>Colors</h2>
  <div class="color-swatches">
    {{#each files }}
        {{~#each data }}
            {{~#each serializedCode }}
    <div class="color-swatch">
      <div class="swatch" style="background-color:{{ value }}">
        <span>{{ variable }}: {{ value }}</span>
        <span>{{ variable }}: {{ value }}</span>
      </div>
      {{#if comment }}
    	<p>{{ comment }}</p>
      {{/if}}
    </div>
            {{/each }}
        {{~/each }}
    {{~/each }}
  </div>
</div>