<!--
/**
 *
 * @title Default comment block template
 *
 */
-->

<div id="{{toID title}}">

  <div class="furtive">

    <h2>{{ title }}</h2>

  </div>

    {{#each files as |file| }}

      <div>

        {{#each file.data as |data| }}

          <div id="{{toID file.path @index}}" class="sugar-comment-block">

            <div class="furtive">

              <dl class="desc">

                {{#each data.tags as |theTag| }}

                  {{#notEqual theTag.tag 'example'}}

                    <dt>{{ theTag.tag }} <code>{{ theTag.name }}</code></dt>
                    <dd>{{#if theTag.optional}}<i>(Optional)</i> {{/if}}{{ theTag.description }}</dd>

                  {{/notEqual}}

                {{/each}}

                <dt>filepath</dt>
                <dd>{{ file.path }}</dd>

              </dl>

            </div>

            {{#isEqual file.ext 'html'}}

              <div class="sugar-rendered">
                {{{ data.context }}}
              </div>

              <pre><code class="language-markup">{{ data.context }}</code></pre>

            {{/isEqual}}

            {{#each data.tags as |theTag| }}

              {{#isEqual theTag.tag 'example'}}

                <div class="sugar-rendered">
                  {{{ theTag.description }}}
                </div>

                <pre><code class="language-markup">{{ theTag.description }}</code></pre>

              {{/isEqual}}

            {{/each}}

          </div>

        {{/each}}

      </div>

  {{/each}}

</div>