<!--
/**
 * 
 * @module Default comment block template
 * 
 */
-->

<div>
  <div class="furtive">
    <h2>{{ title }}</h2>
    {{#each files}}
    <div class="file-block">
      <h3>{{ path }}</h3>
      {{#each data}}
    </div>
    
    <div class="comment-block">
      <div class="furtive">
        <dl class="desc">
          {{#each tags}}
            {{#notequal tag 'example'}}
          <dt>{{ tag }} {{ name }}</dt>
          <dd>{{#if optional}}<i>(Optional)</i> {{/if}}{{ description }}</dd>
            {{/notequal}}
          {{/each}}
        </dl>
      </div>
      
      {{{ code }}}

      <pre class="code">
      {{~ code }}
      </pre>

    </div>
    {{/each}}
  </div>
  {{/each}}
</div>