<!--
/**
 *
 * @title Partial for nav of all components
 *
 */
-->
<nav class="sugar-nav">
  <div class="sugar-masthead">
    {{#if settings.graphic }}
    	<img src="{{ settings.graphic }}" />
    {{/if}}
    {{#if settings.title }}
    	<h1>{{ settings.title }}</h1>
    {{/if}}
  </div>

  <ul id="sugar-nav">
    {{#each sections as |section| }}
      <li>
        <a class="sugar-nav-item" href="#{{toID title}}">{{ title }}</a>
        <ul>
          {{#each files as |file| }}
            {{#each data}}
              <li>
                <a class="sugar-nav-subitem" href="#{{toID file.path @index }}">
                {{#each tags}}
                  {{#isEqual tag 'title' }}
                    {{ value }}
                  {{/isEqual}}
                {{/each}}
                </a>
              </li>
            {{/each}}
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</nav>
