<section id="{{toID title}}" class="sugar-variable-section">
  
  <div class="sugar-section-wrapper">
    
    <h2>{{ title }}</h2>
    
    {{#each files as |file| }}
  
      <div class="sugar-component">
      
        {{#each file.data as |fileData| }}

          {{> block-title data=fileData}}

        {{/each}}

          <div class="sugar-table-container">
          
            <table class="sugar-var-table" id="{{toID file.path @index}}">
            
              <thead>
              
                <th>Variable</th>
                <th>Value</th>
                <th>Comment</th>
              
              </thead>

              {{~#each file.data as |data| }}

                {{~#each data.serializedCode as |serialized| }}

                  <tr>
                    <td><pre>{{ serialized.variable }}</pre></td>
                    <td><pre>{{ serialized.value }}</pre></td>
                    <td>
                      {{#if serialized.comment }}
                      <p>{{ serialized.comment }}</p>
                      {{/if}}
                    </td>
                  </tr>

                {{/each}}

              {{/each}}
            
            </table>
          
          </div>

        </div>

        {{> file-path file=file}}
      
      </div>

    {{/each}}
    
  </div>

</section>