<!--
/**
 *
 * @title Partial for Variables component
 *
 */
-->
<section id="{{toID title}}" class="sugar-section-variable">
  <div class="sugar-section-wrapper">
    <h2><a href="#{{toID title}}">{{ title }}</a></h2>
    
    {{~#each files as |file| }}
  
      <div class="sugar-component" id="{{toID file.path @index}}">
      
        {{~#each file.data as |data| }}

          {{> block-title data=data}}

        {{~/each}}

        <div class="sugar-table-container">
            <table class="sugar-var-table">
              <thead>
                <th>Variable</th>
                <th>Value</th>
                <th>Comment</th>
              </thead>

              {{~#each file.data as |data| }}

                {{~#each data.serializedCode as |serialized| }}

                  <tr>
                    <td><pre>{{ serialized.variable }}</pre></td>
                    <td><pre>{{ serialized.value }}</pre></td>
                    <td>
                      {{#if serialized.comment }}
                        <p>{{ serialized.comment }}</p>
                      {{/if}}
                    </td>
                  </tr>

                {{~/each}}

              {{~/each}}
            
            </table>
          </div>

        {{> file-path file=file}}
      
      </div>

    {{~/each}}
    
  </div>
</section>