<!--
/**
 *
 * @title Default comment block partial
 *
 */
-->

<section id="{{toID title}}" class="sugar-section sugar-section-default">
  <div class="sugar-section-wrapper">
    <h2 class="sugar-h2"><a href="#{{toID title}}">{{ title }}</a></h2>

    {{~#each files as |file| }}
      {{#each data}}

        <div id="{{toID file.path @index}}" class="sugar-component">

          {{> block-title data=this}}

          <div class="sugar-preview-block">
            {{#isEqual file.ext 'html'}}
              <p class="sugar-example-text sugar-p">Example</p>
              <div class="sugar-preview">
                <div class="sugar-example">{{{ context }}}</div>
                <pre class="sugar-pre">{{ context }}</pre>
              </div>
            {{/isEqual}}

            {{#each tags}}
              {{#isEqual tag 'example'}}
                <p class="sugar-example-text sugar-p">Example</p>
                <div class="sugar-preview">
                  <div class="sugar-example">
                    {{{ value }}}
                  </div>
                  <pre class="sugar-pre">{{ value }}</pre>
                </div>
              {{/isEqual}}
            {{/each}}
          </div>

          <div class="sugar-tag-details">
            <dl>
              {{#each tags}}

                {{#notEqual tag 'example'}}
                  {{#notEqual tag 'title'}}
                    {{#notEqual tag 'description'}}

                      <dt>
                        {{ tag }}:
                        {{#if valueParsed}}
                          {{#each valueParsed}}

                            {{#isEqual type 'modifier'}}
                              <code>{{ value }}</code>
                            {{/isEqual}}

                            {{#isEqual type 'state'}}
                              <code>{{ value }}</code>
                            {{/isEqual}}

                          {{/each}}
                        {{/if}}
                      </dt>

                      <dd>
                        {{#if valueParsed}}
                          {{#each valueParsed}}

                            {{#isEqual type 'description'}}
                              <span class="sugar-tag-description">{{ value }}</span>
                            {{/isEqual}}

                          {{/each}}
                        {{ else }}
                          <span class="sugar-tag-description">{{ value }}</span>
                        {{/if}}
                      </dd>
                    {{/notEqual}}
                  {{/notEqual}}
                {{/notEqual}}
              {{/each}}
            </dl>
          </div>

          <p class="sugar-file sugar-p">File: <span class="sugar-path">{{ file.path }}</span></p>

        </div>

      {{/each}}
    {{~/each}}

  </div>
</section>