<div id="{{toID title}}">

  <h2>{{ title }}</h2>

  <div>

    {{#each files as |file| }}

      <div id="{{toID file.path @index}}">

        {{~#each file.data as |data| }}

          {{> block-title data=data}}

          {{~#each data.serializedCode as |serial| }}

            <div>

              <div style="background-color:{{ serial.value }}"></div>

              {{#if serial.comment }}

                <div>
                  <p>{{ serial.comment }}</p>
                </div>

              {{/if}}

              <p>Variable name:</p>
              <code>{{ serial.variable }}</code>

              <p>Color Code: {{ serial.value }}</p>

            </div>

          {{/each }}

        {{~/each }}

      </div>

      <p>File: {{ file.path }}</p>

    {{~/each }}

  </div>

</div>