<!--
/**
 *
 * @title Partial for Section "Color"
 *
 */
-->
<div id="{{toID title}}" class="sugar-section-color">

  <h2>{{ title }}</h2>

  <div>

    {{#each files as |file| }}

      <div id="{{toID file.path @index}}">

        {{~#each file.data as |data| }}

          {{> block-title data=data}}

          {{~#each data.serializedCode as |serial| }}

            <div>

              <div class="sugar-color-swatch" style="background-color:{{ serial.value }}"></div>

              <p class="sugar-var-name">Variable name:</p>
              <div class="sugar-var-code">{{ serial.variable }}</div>

              <p class="sugar-color-code">Color Code: {{ serial.value }}</p>

              {{#if serial.comment }}

                <div class="sugar-color-comment">
                  <p>{{ serial.comment }}</p>
                </div>

              {{/if}}

            </div>

          {{/each }}

        {{~/each }}

      </div>

      {{> file-path file=file}}

    {{~/each }}

  </div>

</div>