<!--
/**
 *
 * @title Partial for Section "Color"
 *
 */
-->
<section id="{{toID title}}" class="sugar-section-color">
  <div class="sugar-section-wrapper">
  <h2><a href="#{{toID title}}">{{ title }}</a></h2>

    {{~#each files as |file| }}

      <div class="sugar-component">

        {{~#each file.data as |data| }}

          <div id="{{toID file.path @index}}">

            {{> block-title data=data}}

            <div class="sugar-colors">
            {{~#each data.serializedCode as |serialized| }}
              <div class="sugar-color {{#if serialized.comment}}sugar-color-commented{{/if}}">
                <div class="sugar-color-swatch" style="background-color: {{serialized.value}};">
                </div>
                <div class="sugar-color-var">
                  {{ serialized.variable }}
                </div>
                <div class="sugar-color-val">
                  {{ serialized.value }}
                </div>
                {{#if serialized.comment}}
                <a class="sugar-btn-accordion">
                  Toggle
                </a>
                <div class="sugar-color-comment">
                  {{ serialized.comment }}
                </div>
                {{/if}}
              </div>
            {{/each }}
            </div>

          </div>
        {{~/each }}

        {{~> file-path file=file}}

      </div>

    {{~/each }}

  </div>
</section>