<!--
/**
 *
 * @title Default comment block partial
 *
 */
-->

<section id="{{toID title}}" class="sugar-section-default">
  
  <div class="sugar-section-wrapper">
    
    <h2>{{ title }}</h2>

    {{#each files as |file| }}

      {{#each file.data as |data| }}
      
        <div class="sugar-component">

          <!--
          /**
           *
           * @title Partial for Comment Block Titles
           *
           */
          -->
            
          {{#with @index as |theIndex|}}
          
          {{#if data.tags}}

            {{#each data.tags as |tags| }}

              {{#isEqual tags.tag 'title'}}
    
                  <h3 id="{{toID file.path theIndex}}">{{ tags.description }}</h3>

                {{/isEqual}}

                {{#isEqual tags.tag 'description'}}

                  <p class="sugar-file-desc">{{ tags.description }}</p>

              {{/isEqual}}

            {{/each}}

          {{/if}}
          
          {{/with}}
        
          {{> preview file=file}}
        
          {{> tag-details file=file}}
        
          {{> file-path file=file}}
      
        </div>
      
      {{/each}}

    {{/each}}
    
  </div>

</section>