<div id="{{toID title}}">

  <h2>{{ title }}</h2>

  {{#each files as |file| }}

    <div id="{{toID file.path @index }}">

      {{#each file.data as |data| }}

        {{> block-title data=data}}

        {{#each data.serializedCode as |serialized| }}

          <div>

            <p style="font-family: {{ serial.value }};">The quick brown fox jumps over the lazy dog.</p>
      	    
            <p>Variable Name:</p>
            <code>{{ serialized.variable }}</code>
            
            <p>Font Sequence: 
            <code>

              {{#each serialized.value as |value| }}

                {{ value }}{{#unless @last}}, {{/unless}}

              {{/each}}

            </code>

            {{#if serialized.comment }}

              <p>{{ serialized.comment }}</p>

            {{/if }}

          </div>

        {{/each}}

      {{/each}}

    </div>

  {{/each }}

</div>