<div id="{{toID title}}">

  {{#each files as |file| }}
  
    <dl id="{{toID file.path}}">

      {{~#each file.data as |data| }}

        {{> block-title data=data}}
        
        {{~#each data.serializedCode as |serialized| }}
        
          <dt>Variable</dt>
          <dd>
            <code>{{ serialized.variable }}</code>
          </dd>

          <dt>Value</dt>
          <dd>
            <code>{{ serialized.value }}</code>
          </dd>

          {{#if serialized.comment }}
            <dt>Comment</dt>
            <dd>{{ serialized.comment }}</dd>
          {{/if}}

        {{/each}}

      {{/each}}

    </dl>

  {{/each}}

</div>