<!--
/**
 *
 * @title Partial for Typography component
 *
 */
-->
<section id="{{toID title}}" class="sugar-section-type">
  
  <div class="sugar-section-wrapper">

    <h2>{{ title }}</h2>
    
    {{#each files as |file| }}
    
      <div class="sugar-component">
    
        <div id="{{ toID file.path @index }}">
    
          {{#each file.data as |data| }}
    
            {{> block-title data=data}}
    
            <div class="sugar-type-file">
    
              {{#each data.serializedCode as |serialized| }}
    
                <div class="sugar-type-container">
    
                  <div class="sugar-type-example">
    
                    <p style="font-family: {{ serialized.value }};">The quick brown fox jumps over the lazy dog.</p>
    
                  </div>
                
                  <pre class="sugar-var">{{ serialized.variable }}</pre><pre class="sugar-val">{{ serialized.value }}</pre>
    
                  {{#if serialized.comment }}
    
                    <p class="sugar-type-desc">{{ serialized.comment }}</p>
    
                  {{/if }}
    
                </div>
    
              {{/each}}
    
            </div>
    
          {{/each}}
    
        </div>
    
        {{> file-path file=file}}
      
      </div>
    
    {{/each }}
    
  </div>

</section>