<div id="{{toID title}}">
  <div class="furtive">

    <h2>{{ title }}</h2>

    <div class="container">

      {{#each files as |file| }}

        <div id="{{toID file.path }}">

          {{#each file.data as |data| }}

            {{#each data.serializedCode as |serial| }}

              <div class="font-block">
        		    <p class="font-name">Font Family: <code>

        		      {{#each serial.value as |value| }}

        			      {{ value }}{{#unless @last}}, {{/unless}}

        		      {{/each}}

                </code></p>

        		      <p class="font-variable">Variable: {{ serial.variable }}</p>

        		      <p style="font-family: {{ serial.value }};">The quick brown fox jumps over the lazy dog.</p>

                  {{#if serial.comment }}

                    <p class="font-comment">{{ serial.comment }}</p>

        		      {{/if }}

              </div>

            {{/each}}

        </div>

        {{/each }}

      {{/each }}

    </div>
  </div>
</div>